@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
}

/* Profile tooltip */
.profile-tooltip {
  position: relative;
  cursor: pointer;
}

.profile-tooltip::before {
  content: "Ain't he handsome! 😎";
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  background: #000;
  color: white;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.profile-tooltip::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.profile-tooltip:hover::before,
.profile-tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}
